.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.home-logo {
  max-width: 25%; 
  height: auto;
  margin-bottom: 20px;
}

.bouton {
  background: radial-gradient(circle at 50% 40%, #FFF5B0, #FFD700 40%, #FFC000 75%, #B8860B);
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 10px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.3);
}


.bouton:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.5), 0 0 30px rgba(255, 215, 0, 0.3);
}


h1 {
  text-align: center !important;
  font-size: 2rem !important;
  background: radial-gradient(circle at 50% 40%, #FFF5B0, #FFD700 40%, #FFC000 70%, #B8860B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}




p {
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
  margin: 5px 0;
}



.image-container {
  position: relative;
  text-align: center;
  margin: 20px 0;
}

.image-reahome {
  max-width: 70%;
  height: auto;
}






.home-images {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
}

.home-item {
  text-align: center;
  margin: 10px;
}

.home-image {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.icon-rotate {
  transform: rotate(90deg);
  transition: transform 0.3s ease; 
}


/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .home-logo {
    max-width: 90%;
  }
  
  .home-logo {
    display: none;
  }

  h1 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.875rem;
  }

  .bouton, .overlay-button {
    font-size: 0.875rem;
    padding: 8px 16px;
  }

  .home-images {
    flex-direction: column;
  }



  .image-reahome {
    max-width: 100%;
  }
}

/* Additional styles for large screens */
@media (min-width: 1200px) {
  .home-logo {
    max-width: 20%; 
  }

  .home-images {
    justify-content: space-between; 
  }


}

.luminescence-info {
  padding: 40px 20px;
  background-color: #0c0c0c;
  color: #fff;
  line-height: 1.6;
  max-width: 1000px;
  margin: 0 auto;
}

.section-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}


.info-list {
  list-style: none;
  padding-left: 0;
}

.info-list li {
  position: relative;
  padding-left: 1.5em; /* espace pour la puce */
}

.info-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.6em;
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 40%, #FFF5B0, #FFD700 40%, #FFC000 75%, #B8860B);
}

