/* App.css */
body {
  font-family: 'Poppins', sans-seri!important;
  font-weight: bold;
  font-size: 17px;
  background-color:#000000; /* fond noir */
  margin: 0;
  padding: 0;
  overflow: hidden; /* pour éviter les scroll liés au canvas */
}
