.how-it-works-slider {
  max-width: 90%;
  margin: 40px auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.slider-heading {
  font-family: 'Poppins'!important, sans-serif;
  background: radial-gradient(circle at 50% 40%, #FFF5B0, #FFD700 40%, #FFC000 70%, #B8860B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 0 20px;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  
}

.slider-subtitle {
  color: #fff8cc;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


.slide-container {
  height: 450px;
  width: 100%;
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  background-color: trsp;
  position: relative;
}



@media (max-width: 768px) {
  .slide-container {
    height: 300px;
  }
}
