.how-it-works-slider {
  max-width: 90%;
  margin: 40px auto;
  text-align: center;
  position: relative;
  z-index: 2;
}

.slider-heading {
  color: gold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.slider-subtitle {
  color: #fff8cc;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.slide-container {
  height: 450px;
  width: 100%;
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  background-color: trsp;
  position: relative;
}



@media (max-width: 768px) {
  .slide-container {
    height: 300px;
  }
}
